{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link text-decoration-none bg-dark text-warning p-1 px-2" href="/dashboard/new">+ New Post</a></button>

